qiskit==0.46.0
qiskit-terra==0.46.0
qiskit-aer==0.13.3
qiskit-ignis
ray==2.9.2
scikit-learn==1.4.0
seaborn
PennyLane==0.34.0
jax==0.3.25
jaxlib @ https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.3.25+cuda11.cudnn805-cp310-cp310-manylinux2014_x86_64.whl
tqdm
cloudpickle
# retry
optax==0.1.4
chex==0.1.5
scipy==1.11.4
matplotlib
tensorflow-cpu==2.16.1
torch @ https://download.pytorch.org/whl/cpu/torch-2.2.2%2Bcpu-cp310-cp310-linux_x86_64.whl
pgmpy
bqskit
jupyter
dwave-system
python-sat
dwave-neal
sympy