qiskit==0.46.0
qiskit-terra==0.46.0
qiskit-aer==0.13.3
qiskit-ignis
qiskit-dynamics==0.4.2
qiskit_finance==0.3.4
qiskit-experiments==0.5.3
qiskit_ibm_runtime==0.9.3
qiskit_ibmq_provider==0.8.0
qiskit_nature==0.6.2
qiskit_optimization==0.5.0
qiskit-ibm-experiment==0.3.5
pennylane==0.34.0
dwave-system==1.28.0
dwave-neal==0.6.0
bqskit==1.2.0
chex==0.1.7
cloudpickle==3.1.0
gurobipy==12.0.1
jax==0.4.14
jaxlib==0.4.14
jupyter==1.1.1
matplotlib==3.10.0
openai==1.61.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
optax==0.2.1
pandas==2.2.3
pgmpy==0.1.26
python-sat==1.8.dev13
ray==2.9.2
scikit-learn==1.4.0
scipy==1.11.4
seaborn==0.13.2
sympy==1.13.1
tensorflow==2.17.1
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
z3==0.2.0
