jax
jaxlib
matplotlib
networkx
numpy
pandas
PennyLane
qiskit
qiskit-dynamics
qiskit_finance
qiskit-experiments
qiskit_ibm_runtime
qiskit_ibmq_provider
qiskit_nature
qiskit_optimization
qiskit_terra
qiskit_aer
qiskit-ibm-experiment
ray
scikit_learn
torchvision
tqdm
opencv-python
gurobipy